# Terraform state files (contain secrets!)
*.tfstate
*.tfstate.backup

# Variable definitions that contain secrets
terraform.tfvars
*.tfvars
*.auto.tfvars

# Crash logs
crash.log

# Local Terraform metadata
.terraform/
.terraform.lock.hcl

node_modules
modules/lambdas_api/.zips/
